In [33]:
import pandas as pd
import re

In [34]:
biden = pd.read_csv("biden.csv",encoding="utf-8")

In [35]:
biden.describe()

              time          user       text
count       180947        180944     180944
unique          20        113096     172011
top     10/20/2020  JordanOlder_  @joebiden
freq         13349           878        327

In [36]:
biden = biden.astype(str)
data = []
biden.dropna(subset=["text"],axis=0,inplace=True)
biden.drop_duplicates(subset ="text", 
                   keep = 'first', inplace = True) 
biden.reset_index(drop=True, inplace=True)

for i in range(0,len(biden['text'])-1):
    time = biden['time'][i]
    text = biden['text'][i]
    text = text.replace("\n\n", " ")
    text = text.replace("\n", " ")
    text = text.strip()
    if time!='' and text!='':
        record = time + " " + text
        data.append(record)

In [37]:
biden.describe()

,time,user,text
count,172012,172012,172012
unique,20,107984,172012
top,10/20/2020,JordanOlder_,@joebiden corporations pay more than their fai...
freq,12713,877,1

In [38]:
with open('biden.txt', 'w',encoding="utf-8") as f:
    for item in data:
        f.write("%s\n" % item)